<main class="main">
  <div class="container">
    <article class="post">
      <div class="post__actions">
        <a href="#" onclick="history.back()"> вернуться назад </a>
        <a href="#">поделиться</a>
      </div>

      <div class="post__header">
        <h1 class="post__title post__title--mb0">Как начать кодить?</h1>
        <time class="post__data" datetime="2020-06-21 19:20"> 21.06.2020 </time>
      </div>

      <div class="post__content">
        <h3 class="post__content-title">Title</h3>
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
          debitis? Beatae, aliquid dolor atque, fugit deserunt aperiam magnam
          sequi cupiditate minus earum, nostrum at eos placeat quis nulla
          delectus corrupti.
        </p>
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
          debitis? Beatae, aliquid dolor atque, fugit deserunt aperiam magnam
          sequi cupiditate minus earum, nostrum at eos placeat quis nulla
          delectus corrupti.
        </p>
        <h4 class="post__contsent-subtitle">Title</h4>
        <p class="post__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores,
          debitis? Beatae, aliquid dolor atque, fugit deserunt aperiam magnam
          sequi cupiditate minus earum, nostrum at eos placeat quis nulla
          delectus corrupti.
        </p>
        <img src="./dest/image.jpg" alt="" />
      </div>
    </article>
  </div>
</main>
;
