<main class="main">
  <h1 class="main__title">Обратная связь</h1>
  <div class="container">
    <form name="form" method="post" class="form-feedback">
      <h2>Форма обратной связи.</h2>
      <div class="form-feedback__titles">Ваше имя*</div>
      <input class="form-feedback__input" name="name" type="text" />
      <div class="form-feedback__titles">Электронная почта*</div>
      <input class="form-feedback__input" name="email" type="text" />
      <div class="form-feedback__titles">Тема сообщения</div>
      <input class="form-feedback__input" name="subjects" type="text" />
      <div class="form-feedback__titles">Текст сообщения:</div>
      <textarea
        class="form-feedback__textarea"
        name="post-text"
        placeholder="Напишите что-нибудь"
      ></textarea>
      <input class="form-feedback__submit" value="Отправить" type="submit" />
    </form>
  </div>
</main>
