<main class="main">
  <h1 class="main__title">Список записей</h1>
  <div class="container">
    <div class="materials">
      <ul class="materials__list">
        <li class="materails__item">
          <article class="materials__article">
            <h2 class="materials__title">
              <a href="#" class="materials__link"> Как стать верстальщиком? </a>
            </h2>
            <p class="materials__text">
              Что нужно, чтобы стать хорошим верстальщиком, какие компетенции
              нужны,читайте в этой статье
            </p>
            <a href="#" class="materials__more"> Читать </a>
            <time datetime="2020-10-12" class="materials__data">
              23.06.2020
            </time>
          </article>
        </li>
        <li class="materails__item">
          <article class="materials__article">
            <h2 class="materials__title">
              <a href="#" class="materials__link"> Настраиваем WebPack. </a>
            </h2>
            <p class="materials__text">
              Материал будет полезен тем,кто хочет настроит разработку своего
              проекта под себя.
            </p>
            <a href="#" class="materials__more"> Читать </a>
            <time datetime="2020-06-21" class="materials__data">
              21.06.2020
            </time>
          </article>
        </li>
        <li class="materails__item">
          <article class="materials__article">
            <h2 class="materials__title">
              <a href="#" class="materials__link">
                Выбираем полезную литературу.
              </a>
            </h2>
            <p class="materials__text">
              В материале топ-10 источников по верстке.
            </p>
            <a href="#" class="materials__more"> Читать </a>
            <time datetime="2020-06-21" class="materials__data">
              19.05.2020
            </time>
          </article>
        </li>
        <li class="materails__item">
          <article class="materials__article">
            <h2 class="materials__title">
              <a href="#" class="materials__link">
                Верстка: Как не угаснуть в своем обучении.
              </a>
            </h2>
            <p class="materials__text">Черпаем мотивацию.</p>
            <a href="#" class="materials__more"> Читать </a>
            <time datetime="2020-06-21" class="materials__data">
              10.05.2020
            </time>
          </article>
        </li>
      </ul>
    </div>
  </div>
</main>
