<main class="main">
  <h1 class="main__title">Мои работы</h1>
  <div class="container">
    <div class="slider">
      <div class="slider-wrapper">
        <div class="slider-counter">
          <div class="slider-prev">
            <img src="dest/left.svg" alt="prev" />
          </div>
          <div class="slider-next">
            <img src="dest/right.svg" alt="next" />
          </div>
        </div>
        <div class="slide">
          <img src="dest/4gWEQhzuTyJmx.png" alt="img1" />
        </div>
        <div class="slide">
          <img src="dest/KZYo98Ve7q.png" alt="img2" />
        </div>
        <div class="slide">
          <img src="dest/yJppRDr8d8spt4PC.png" alt="img3" />
        </div>
        <div class="slide">
          <img src="dest/ZWR9xUOvliy3F.png" alt="img4" />
        </div>
      </div>
    </div>
  </div>
</main>
