<main class="main">
  <h1 class="main__title">Мои работы</h1>
  <div class="container">
    <div class="slider">
      <div class="slider-counter">
        <div class="slider-prev">
          <img src="dest/left.svg" alt="prev" />
        </div>
        <div class="slider-next">
          <img src="dest/right.svg" alt="next" />
        </div>
      </div>
      <ul class="slider-wrapper">
        <li class="slide">
          <img src="dest/4gWEQhzuTyJmx.png" class="shown" alt="img1" />
        </li>
        <li class="slide">
          <img src="dest/KZYo98Ve7q.png" alt="img2" />
        </li>
        <li class="slide">
          <img src="dest/yJppRDr8d8spt4PC.png" alt="img3" />
        </li>
        <li class="slide">
          <img src="dest/ZWR9xUOvliy3F.png" alt="img4" />
        </li>
      </ul>
    </div>
    <!-- <div class="gallery gallery-1">
      <div class="photo">
        <img src="dest/4gWEQhzuTyJmx.png" class="shown"></img>
        <img src="dest/KZYo98Ve7q.png"></img>
        <img src="dest/yJppRDr8d8spt4PC.png"></img> 
        <img src="dest/ZWR9xUOvliy3F.png"></img>
      </div>
      <div class="tabs">
           <input type="button" class="prev" value="Назад">
           <input type="button" class="next" value="Вперед">
      </div>
  </div> -->
  </div>
</main>
