.form-feedback {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: $primiry;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  border-radius: 5px;

  @include breakpoint($mobile-bp) {
    padding-right: 1.5rem;
  }
}

.form-feedback__titles {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.form-feedback__textarea {
  background: transparent;
  font-family: inherit;
  height: 60px;
  width: 100%;
  resize: none;
  color: $white;
  border-radius: 5px;
}

.form-feedback__input {
  font-family: inherit;
  padding: 1.2rem 2rem;
  color: $white;
  border-radius: 5px;
  height: 20px;
  background: transparent;
  border: solid 2px #3f3e3e;
}

.form-feedback__submit {
  margin-top: 1rem;
  display: block;
  background: $white;
  border: none;
  border-radius: 3em;
  font-family: inherit;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.6;
  font-weight: 500;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: darken(#3f3e3e, 5%);
  }
}
