.materials {
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: $primiry;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  border-radius: 5px;
}

.materials__article {
  border-bottom: 2px solid #1c1c1c;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.materials__link,
.materials__more {
  color: inherit;
  text-decoration: none;
}

.materials__data {
  margin-left: 50rem;
  font-size: 1.2rem;
}
