.nav {
  &--mobile {
    display: none;
    margin: 3rem 0;
  }
  @include breakpoint($tablet-bp) {
    display: none;
    &--mobile {
      display: block;
    }
  }
}

.nav__list {
  list-style-type: none;
  display: flex;

  @include breakpoint($tablet-bp) {
    flex-direction: column;
    margin-left: -5rem;
  }
}

.nav__link {
  display: block;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: $blue;
  }
  @include breakpoint($tablet-bp) {
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.6rem;
  }
}
