.post {
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: $primiry;
  box-shadow: 0 15px 25px rgba($black, 0.35);
  border-radius: 5px;
}
@mixin post-img {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.post__content {
  margin-bottom: 2rem;
  @include post-img;
}
.post__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;
  }
  &--mb0 {
    margin-bottom: 0;
  }
}
.post__text {
  font-size: 1.4rem;
  color: #d2d2d2;
  p {
    margin-bottom: 2rem;
  }
}

.post__data {
  color: $white;
  line-height: 1.2;
  font-size: 1.2rem;
}

.post__header {
  margin: 0 0 2.5rem;
  @include post-img;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: rgba($white, 0.6);
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
