@import "post";
.sidebar {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;
  background-color: $primiry;
  box-shadow: 5px 0 15px rgba(#050505, 0.1);
}

.sidebar__header {
  height: 180px;
  background-color: $secondary;

  @include post-img;
}

.sidebar__content {
  padding: 0 2rem;
  margin-top: -5rem;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
