@import "vars";
html {
  font-size: 62.5%;
}
body {
  background: $primiry;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $white;
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@import "page";
@import "header";
@import "nav";
@import "search";
@import "sidebar";
@import "add-post";
@import "main";
@import "container";
@import "profile";
@import "social";
@import "btn";
@import "post";
@import "materials";
@import "form-feedback";
