 <main class="main">
        <h1 class="tittle__main">Главное</h1>
        <div class="container">
          <div class="add-post">
            <form class="add-post__form" action="/" method="post">
              <textarea
                class="add-post__textarea"
                name="post-text"
                placeholder="Напишите что-нибудь"
              ></textarea>
              <div class="add-post__form-actions">
                <label class="add-post__file" for="add-post-file"
                  ><img src="dest/photo.svg" />
                  <input type="file" id="add-post-file" />
                </label>
                <button class="add-post__send" type="submit">
                  <img src="dest/send.svg" />
                </button>
              </div>
            </form>
          </div>

          <div class="post">
            <div class="post_content">
              <p class="post__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Asperiores, debitis? Beatae, aliquid dolor atque, fugit deserunt
                aperiam magnam sequi cupiditate minus earum, nostrum at eos
                placeat quis nulla delectus corrupti.
              </p>
            </div>

            <div class="post__footer">
              <ul class="post__data">
                <li class="post__data-item">
                  <time datetime="2020-06-21 19:20">21.06.2020</time>
                </li>
              </ul>
            </div>
          </div>

          <div class="post">
            <div class="post__header">
              <a href="#"
                ><img src="dest/Rectangle 5.jpg" alt="Как начать кодить?"
              /></a>
            </div>
            <div class="post_content">
              <a href="./index3.html"
                ><h3 class="post__title">Как начать кодить?</h3></a
              >
              <p class="post__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Asperiores, debitis? Beatae, aliquid dolor atque, fugit deserunt
                aperiam magnam sequi cupiditate minus earum, nostrum at eos
                placeat quis nulla delectus corrupti.
              </p>
            </div>

            <div class="post__footer">
              <ul class="post__data">
                <li class="post__data-item">
                  <time datetime="2020-06-21 19:20">21.06.2020</time>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>