 <main class="main">
        <h1 class="tittle__main">Обратная связь</h1>
        <div class="container">
          <form name="form" method="post" class="form-feedback">
            <h2>Форма обратной связи.</h2>
            <div class="form-feedback_titles">Ваше имя*</div>
            <input class="form-feedback_input" name="name" type="text" />

            <div class="form-feedback_titles">Электронная почта*</div>
            <input class="form-feedback_input" name="email" type="text" />

            <div class="form-feedback_titles">Тема сообщения</div>
            <input class="form-feedback_input" name="subjects" type="text" />

            <div class="form-feedback_titles">Текст сообщения:</div>
            <textarea
              class="form-feedback_textarea"
              name="post-text"
              placeholder="Напишите что-нибудь"
            ></textarea>

            <input
              class="form-feedback_submit"
              value="Отправить"
              type="submit"
            />
          </form>
        </div>
      </main>